@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';
@import 'libs/icons';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
*{
    font-family: 'Museo', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/media';