@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'base/media';
*{
    font-family: 'Museo', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}