@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts/icomoon.eot?sort19');
  src:  url('../fonts/fonts/icomoon.eot?sort19#iefix') format('embedded-opentype'),
    url('../fonts/fonts/icomoon.ttf?sort19') format('truetype'),
    url('../fonts/fonts/icomoon.woff?sort19') format('woff'),
    url('../fonts/fonts/icomoon.svg?sort19#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e900";
}
.icon-cup .path1:before {
  content: "\e901";
  color: rgb(222, 3, 3);
}
.icon-cup .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(225, 28, 28);
}
.icon-cup .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(225, 28, 28);
}
.icon-cup .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(227, 50, 50);
}
.icon-cup .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(230, 83, 83);
}
.icon-cup .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-cup .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path27:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path28:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path29:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path30:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path31:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(236, 145, 145);
}
.icon-cup .path32:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path33:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path34:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path35:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path36:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path37:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path38:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(240, 181, 181);
}
.icon-cup .path39:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path40:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path41:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path42:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path43:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path44:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path45:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(242, 208, 208);
}
.icon-cup .path46:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path47:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path48:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path49:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path50:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path51:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-cup .path52:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-heart .path1:before {
  content: "\e935";
  color: rgb(222, 3, 3);
}
.icon-heart .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(225, 29, 29);
}
.icon-heart .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-heart .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-heart .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-heart .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-heart .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-heart .path8:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(230, 81, 81);
}
.icon-heart .path9:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(230, 81, 81);
}
.icon-heart .path10:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(230, 81, 81);
}
.icon-heart .path11:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(230, 81, 81);
}
.icon-heart .path12:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(230, 81, 81);
}
.icon-heart .path13:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path14:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path15:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path16:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path17:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path18:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(233, 112, 112);
}
.icon-heart .path19:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path20:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path21:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path22:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path23:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path24:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(236, 144, 144);
}
.icon-heart .path25:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-heart .path26:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-heart .path27:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-heart .path28:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-heart .path29:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-heart .path30:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(243, 210, 210);
}
.icon-heart .path31:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(243, 210, 210);
}
.icon-heart .path32:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(243, 210, 210);
}
.icon-heart .path33:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(243, 210, 210);
}
.icon-heart .path34:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(243, 210, 210);
}
.icon-heart .path35:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-heart .path36:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-heart .path37:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-heart .path38:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-heart .path39:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path1:before {
  content: "\e95c";
  color: rgb(222, 3, 3);
}
.icon-shoe .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(225, 29, 29);
}
.icon-shoe .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(225, 29, 29);
}
.icon-shoe .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(225, 29, 29);
}
.icon-shoe .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-shoe .path6:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-shoe .path7:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-shoe .path8:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-shoe .path9:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(227, 48, 48);
}
.icon-shoe .path10:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path11:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path12:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path13:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path14:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path15:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(230, 80, 80);
}
.icon-shoe .path16:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path17:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path18:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path19:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path20:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path21:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path22:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(233, 113, 113);
}
.icon-shoe .path23:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path24:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path25:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path26:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path27:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path28:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path29:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(236, 146, 146);
}
.icon-shoe .path30:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path31:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path32:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path33:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path34:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path35:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path36:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(239, 177, 177);
}
.icon-shoe .path37:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path38:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path39:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path40:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path41:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path42:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path43:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(242, 210, 210);
}
.icon-shoe .path44:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path45:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path46:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path47:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path48:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path49:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-shoe .path50:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-messages:before {
  content: "\e98e";
  color: #fff;
}
.icon-shipping:before {
  content: "\e98f";
  color: #fff;
}
.icon-timer:before {
  content: "\e990";
  color: #fff;
}
.icon-facebook1:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
